#gog-game-of-life-canvas {
	background-color: #DFDFDF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
}

#gog-shadow-canvas {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 60;
}

#gog-action-buttons {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px;
	margin: 10px;
	margin-top: 9px;
	margin-right: 9px;
	z-index: 100;
	list-style-type: none;
	
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: decelerate;
}
#gog-action-buttons li {
	display: inline-block;
}
#gog-action-buttons button {
	width: 34px;
	height: 30px;
	margin-right: 1px;
	margin-left: 1px;
	border: none;
	background-image: url('../img/icons.png');
	background-repeat:  no-repeat;
	background-color: rgba(255, 255, 255, 0);
	opacity: 0.9;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}
#gog-action-buttons button:hover {
	opacity: 1;
	cursor: pointer;
}
#gog-full-screen-button {
	background-position: -68px -0px;
}
#gog-next-pattern-button {
	background-position: -34px -30px;
}
.gog-pause-button {
	background-position: -68px -30px;
}
.gog-play-button {
	background-position: -0px -60px;
}
#gog-reset-button {
	background-position: -68px -60px;
}
#gog-settings-button {
	background-position: -0px -90px;
}

#gog-settings-panel {
	width: 220px;
	height: 100%;
	position: absolute;
	visibility: visible;
	pointer-events: none;
	top: 0px;
	right: 0px;
	z-index: 80;
	background-color: rgba(0, 0, 0, 0.5);
	
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: decelerate;
}
#gog-settings-panel * {
	pointer-events: initial;
}

#gog-sliders-container {
	width: 100%;
	padding-top: 63px;
	padding-left: 14px;
	padding-right: 12px;
	font: 12px Verdana;
	color: white;
	text-align: center;
}
#gog-sliders-container td {
	padding: 3px;
}
.gog-slider {
	width: 116px;
	border: solid 1px white;
	padding: 1px;
	border-radius: 2px;
	float: right;
}
.gog-slider:hover {
	cursor: pointer;
	
}
.gog-slider-button {
	width: 7px;
	height: 7px;
	background-color: white;
}

#gog-symmetry-container {
	display: flex;
	padding: 0px;
	margin-left: 24px;
	margin-top: 18px;
	list-style-type: none;
}
#gog-symmetry-container input[type="radio"] {
	display: none;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.gog-symmetry-radio  {
	display: none;
}
#gog-symmetry-container input[type="radio"] + label {
	width: 34px;
	height: 30px;
	background-image: url('../img/icons.png');
	display: inline-block;
	cursor: pointer;
	border: solid 1px white;
	border-right: 0px;
}
#gog-symmetry-container li:first-child input[type="radio"] + label {
	border-radius: 2px 0px 0px 2px;
}
#gog-symmetry-container li:last-child input[type="radio"] + label {
	border-radius: 0px 2px 2px 0px;
	border-right: solid 1px white;
}
#gog-symmetry-container input[type="radio"]:checked + label {
	background-color: rgba(255, 255, 255, 0.4);
}
#gog-symmetry-container input[type="radio"]:not(:checked):hover + label {
	background-color: rgba(255, 255, 255, 0.1);
}
#gog-symmetry-container input[type="radio"]:checked:hover + label {
	background-color: rgba(255, 255, 255, 0.5);
}
#gog-symmetry-none-radio + label {
	background-position: -34px -120px;
}
#gog-symmetry-vertical-radio + label {
	background-position: -68px -120px;
}
#gog-symmetry-horizontal-radio + label {
	background-position: -0px -120px;
}
#gog-symmetry-double-radio + label {
	background-position: -68px -90px;
}
#gog-symmetry-central-radio + label {
	background-position: -34px -90px;
}

#gog-pattern-buttons {
	padding: 0px;
	margin: 10px;
	margin-top: 9px;
	margin-right: 9px;
	margin-left: 25px;
	list-style-type: none;
	display: flex;
}
#gog-pattern-buttons li {
	margin-left: 10px;
}
#gog-pattern-buttons li:first-child {
	margin-left: 0px;
}
#gog-pattern-buttons button {
	width: 36px;
	height: 32px;
	padding: 0px;
	background-image: url('../img/icons.png');
	background-repeat:  no-repeat;
	background-color: rgba(255, 255, 255, 0);
	display: inline-block;
	cursor: pointer;
	border: solid 1px white;
	border-radius: 2px;
}
#gog-pattern-buttons button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
#gog-pattern-buttons button:active {
	background-color: rgba(255, 255, 255, 0.4);
}
#gog-cross-pattern-button {
	background-position: -34px -0px;
}
#gog-gun-pattern-button {
	background-position: -0px -30px;
}
#gog-random-pattern-button {
	background-position: -34px -60px;
}
#gog-canvas-pattern-button {
	background-position: -0px -0px;
}