#gameOfLifeCanvas {
	background-color: #DFDFDF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
}

#shadowCanvas {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 60;
}

#actionButtons {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px;
	margin: 10px;
	margin-top: 9px;
	margin-right: 9px;
	z-index: 100;
	list-style-type: none;
}

#actionButtons li {
	display: inline-block;
}

#actionButtons button {
	width: 34px;
	height: 30px;
	margin-right: 1px;
	margin-left: 1px;
	border: none;
	background-image: url('../img/icons.png');
	background-repeat:  no-repeat;
	background-color: rgba(255, 255, 255, 0);
	opacity: 0.9;
	display: inline-block;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}

#actionButtons button:hover {
	opacity: 1;
	cursor: pointer;
}

#fullscreenButton {
	background-position: -0px -0px;
}
#nextPatternButton {
	background-position: -34px -0px;
}
.pauseButton {
	background-position: -0px -30px;
}
.playButton {
	background-position: -34px -30px;
}
#resetButton {
	background-position: -0px -60px;
}
#settingsButton {
	background-position: -34px -60px;
}

#settingsPanel {
	width: 220px;
	height: 100%;
	position: absolute;
	visibility: hidden;
	pointer-events: none;
	top: 0px;
	right: 0px;
	z-index: 80;
	background-color: rgba(0, 0, 0, 0.5);
}

#settingsPanel * {
	pointer-events: initial;
}

#slidersContainer {
	width: 100%;
	padding-top: 63px;
	padding-left: 14px;
	padding-right: 12px;
	font: 12px Verdana;
	color: white;
	text-align: center;
}

#slidersContainer td {
	padding: 3px;
}

.slider {
	width: 116px;
	border: solid 1px white;
	padding: 1px;
	float: right;
}

.slider:hover {
	cursor: pointer;
}

.sliderButton {
	width: 7px;
	height: 7px;
	background-color: white;
}