#gog-game-of-life-canvas {
	background-color: #DFDFDF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
}

#gog-shadow-canvas {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 60;
}

#gog-action-buttons {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0px;
	margin: 10px;
	margin-top: 9px;
	margin-right: 9px;
	z-index: 100;
	list-style-type: none;
	display: flex;
	
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: decelerate;
}
#gog-action-buttons li {
	margin: auto;
}
.gog-action-button {
	width: 34px;
	height: 40px;
	padding: 3px;
	margin-right: 1px;
	margin-left: 1px;
	border: none;
	display: inline-block;
	overflow: hidden;
	text-align: left;
	background: #00000000;
	opacity: 0.9;
}
.gog-action-button.gog-disabled, .gog-action-button.gog-disabled:hover {
	opacity: 0.6;
	cursor: initial;
}
#gog-action-buttons li:first-child button.gog-action-button, #gog-action-buttons li:last-child button.gog-action-button {
	width: 46px;
	height: 40px;
}
.gog-action-button svg {
	width: 100%;
	height: 100%;
	fill: white;
}
.gog-action-button:hover {
	cursor: pointer;
	opacity: 1;
}
#gog-fullscreen-button {
	width: 36px;
	height: 36px;
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 0px;
	margin-right: 12px;
	margin-bottom: 8px;
	z-index: 100;
}

#gog-settings-panel {
	width: 220px;
	height: 100%;
	position: absolute;
	visibility: visible;
	pointer-events: none;
	top: 0px;
	right: 0px;
	z-index: 80;
	background-color: rgba(0, 0, 0, 0.5);
	
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: decelerate;
}
#gog-settings-panel * {
	pointer-events: initial;
}

#gog-sliders-container {
	width: 100%;
	padding-top: 63px;
	padding-left: 14px;
	padding-right: 12px;
	font: 12px Verdana;
	color: white;
	text-align: center;
}
#gog-sliders-container td {
	padding: 3px;
}
.gog-slider {
	width: 116px;
	border: solid 1px white;
	padding: 1px;
	border-radius: 2px;
	float: right;
}
.gog-slider:hover {
	cursor: pointer;
	
}
.gog-slider-button {
	width: 7px;
	height: 7px;
	background-color: white;
}

#gog-symmetry-container {
	display: flex;
	padding: 0px;
	margin-left: 24px;
	margin-top: 18px;
	list-style-type: none;
}
.gog-symmetry-radio {
	display: none;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.gog-symmetry-radio  {
	display: none;
}
.gog-symmetry-radio + label {
	width: 34px;
	height: 30px;
	display: inline-block;
	cursor: pointer;
	border: solid 1px white;
	border-right: 0px;
}
.gog-symmetry-radio + label svg {
	width: 34px;
	height: 30px;
	opacity: 0.9;
}
.gog-symmetry-radio:checked + label {
	background-color: rgba(255, 255, 255, 0.4);
}
.gog-symmetry-radio:not(:checked):hover + label {
	background-color: rgba(255, 255, 255, 0.1);
}
.gog-symmetry-radio:checked:hover + label {
	background-color: rgba(255, 255, 255, 0.5);
}
.gog-symmetry-radio:checked + label svg, .gog-symmetry-radio:hover + label svg {
	opacity: 1;
}
#gog-symmetry-container li:first-child input[type="radio"] + label {
	border-radius: 2px 0px 0px 2px;
}
#gog-symmetry-container li:last-child input[type="radio"] + label {
	border-radius: 0px 2px 2px 0px;
	border-right: solid 1px white;
}

#gog-pattern-buttons {
	padding: 0px;
	margin: 10px;
	margin-top: 9px;
	margin-right: 9px;
	margin-left: 25px;
	list-style-type: none;
	display: flex;
}
#gog-pattern-buttons li {
	margin-left: 10px;
}
#gog-pattern-buttons li:first-child {
	margin-left: 0px;
}
.gog-pattern-button {
	width: 36px;
	height: 32px;
	padding: 0px;
	background-repeat:  no-repeat;
	background-color: rgba(255, 255, 255, 0);
	display: inline-block;
	cursor: pointer;
	border: solid 1px white;
	border-radius: 2px;
}
.gog-pattern-button svg {
	width: 34px;
	height: 30px;
	shape-rendering: crispedges;
	opacity: 0.9;
}
.gog-pattern-button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}
.gog-pattern-button:active {
	background-color: rgba(255, 255, 255, 0.4);
}
.gog-pattern-button:hover svg, .gog-pattern-button:active svg {
	opacity: 1;
}