#gameOfLifeCanvas {
	background-color: #DFDFDF;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 40;
}

#shadowCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 60;
}

#panelCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 80;
}

#widgetsCanvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}



